@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html {
  background-color: #000000;
}

html * {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
}
